<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
</head>
<body>

<h2>Signup</h2>

<form onsubmit="signupUser(event)">
<input id="name" placeholder="Name" required><br><br>
<input id="email" type="email" placeholder="Email" required><br><br>
<input id="password" type="password" placeholder="Password" required><br><br>
<button>Signup</button>
</form>

<p>Already Have Account? <a href="/login">Login</a></p>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
